version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_ventas
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: ventasdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_ventas
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
